.calculator{
width: 140px;
margin: 100px auto;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(0, 0, 0);
border-radius: 5px;
}

.input{
    margin-top: 10px;
    width: 100px;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(255, 106, 0);
}


.items{
    display: flex;
    gap: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.numbers{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.number{
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(255, 106, 0);
}

.operation{
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(255, 106, 0);
}

.btn{
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(255, 106, 0);
}

.simvols{
    display: flex;
    flex-direction: column;
    gap: 3.8px;
}

#simvol{
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(255, 106, 0);
}
@media(max-width:576px){
    .input{
        height: 30px;
    }
    .number{
        width: 70px;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    #simvol{
        width: 70px;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .operation{
        width: 70px;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
    }
    .btn{
        width: 70px;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
    }
}

@media(max-width:320px){
    .input{
        height: 30px;
    }
    .number{
        width: 30px;
        height: 30px;
        font-size: 25px;
        font-weight: bold;
    }
    #simvol{
        width: 30px;
        height: 30px;
        font-size: 25px;
        font-weight: bold;
    }
    .operation{
        width: 30px;
        height: 30px;
        font-size: 25px;
        font-weight: bold;
    }
    .btn{
        width: 30px;
        height: 30px;
        font-size: 25px;
        font-weight: bold;
    }
}

@media(max-width:480px){
    .input{
        height: 30px;
    }
    .number{
        width: 30px;
        height: 30px;
        font-size: 25px;
        font-weight: bold;
    }
    #simvol{
        width: 30px;
        height: 30px;
        font-size: 25px;
        font-weight: bold;
    }
    .operation{
        width: 30px;
        height: 30px;
        font-size: 25px;
        font-weight: bold;
    }
    .btn{
        width: 30px;
        height: 30px;
        font-size: 25px;
        font-weight: bold;
    }
}




